@import "tailwindcss";

:root {
    --background: #101922;
    --primary: #137FEC;
    --secondary: #192633;
    --modal: #0F172A;
    --accent: #233648;
    --brdr: #324D67
}

@theme {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-modal: var(--modal);
    --color-accent: var(--accent);
    --color-brdr: var(--brdr);
}

body {
    background-color: var(--background);
    color: white;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}